:root {
    --dark: black;
    --light: white;
}

body {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

body.dark {
    background-color: var(--dark);
}

.dark-mode-toggle {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.75rem 1rem 0.75rem 1rem;
    border: 0px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.dark-mode-toggle.active {
    background-color: var(--light);
    color: var(--dark);
}